@use '@/styles/sass/_variables.scss' as vars;
@use 'vuetify/styles' with (
  $border-radius-root: vars.$border-radius-root,
  $font-size-root: vars.$font-size-root,

  $typography:
    (
      'h1': (
        'size': 6rem,
        'weight': 300,
        'line-height': 6rem,
        'letter-spacing': -.015625em,
        'text-transform': none
      ),
      'h2': (
        'size': 3.75rem,
        'weight': 300,
        'line-height': 3.75rem,
        'letter-spacing': -.0083333333em,
        'text-transform': none
      ),
      'h3': (
        'size': 3rem,
        'weight': 400,
        'line-height': 3.125rem,
        'letter-spacing': normal,
        'text-transform': none
      ),
      'h4': (
        'size': 2.125rem,
        'weight': 400,
        'line-height': 2.5rem,
        'letter-spacing': .0073529412em,
        'text-transform': none
      ),
      'h5': (
        'size': 1.5rem,
        'weight': 400,
        'line-height': 2rem,
        'letter-spacing': normal,
        'text-transform': none
      ),
      'h6': (
        'size': 1.25rem,
        'weight': 500,
        'line-height': 2rem,
        'letter-spacing': .0125em,
        'text-transform': none
      ),
      'subtitle-1': (
        'size': 1rem,
        'weight': normal,
        'line-height': 1.75rem,
        'letter-spacing': .009375em,
        'text-transform': none
      ),
      'subtitle-2': (
        'size': .875rem,
        'weight': 500,
        'line-height': 1.375rem,
        'letter-spacing': .0071428571em,
        'text-transform': none
      ),
      'body-1': (
        'size': 1rem,
        'weight': 400,
        'line-height': 1.5rem,
        'letter-spacing': .03125em,
        'text-transform': none
      ),
      'body-2': (
        'size': .875rem,
        'weight': 400,
        'line-height': 1.25rem,
        'letter-spacing': .0178571429em,
        'text-transform': none
      ),
      'button': (
        'size': .875rem,
        'weight': 500,
        'line-height': 2.25rem,
        'letter-spacing': .0892857143em,
        'text-transform': uppercase
      ),
      'caption': (
        'size': .75rem,
        'weight': 400,
        'line-height': 1.25rem,
        'letter-spacing': .0333333333em,
        'text-transform': none
      ),
      'overline': (
        'size': .75rem,
        'weight': 500,
        'line-height': 2rem,
        'letter-spacing': .1666666667em,
        'text-transform': uppercase
      )
    )
);
