$font-family: 'Inter', sans-serif;

// Vuetify theme colors /.plugins/vuetify.ts
$theme-background-color: #0d1117;
$theme-surface-color: #424242;
$theme-primary-color: #1976D2;
$theme-secondary-color: #424242;
$theme-error-color: #FF5252;
$theme-warning-color: #FB8C00;
$theme-info-color: #2196F3;
$theme-success-color: #4CAF50;
$theme-accent-color: #212121;
